.about-page {
  padding-inline: 3em;

  & > .about-wrapper {
    & > .title {
    }

    & > .text {
    }
  }

  & > .about-top-posts {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & > .title {
    }

    & > .content {
      display: flex;
      align-items: center;
      gap: 1em;

      & > .btn {
        display: none;
      }

      & > .post-list {
        flex-grow: 1;
        display: flex;
        align-items: center;
        overflow: hidden;

        & > li {
          flex-shrink: 0;
          width: 100%;
          animation: 0.5s both;

          &.move-right {
            animation-name: moveRight;
          }

          &.move-left {
            animation-name: moveLeft;
          }

          & > .post {
            margin: 0;

            & > .post-controls {
              display: none;
            }
          }
        }
      }

      &.slider {
        & > .btn {
          display: block;
        }
      }
    }
  }
}

@keyframes moveLeft {
  to {
    transform: translate(-100%);
  }
}

@keyframes moveRight {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(0);
  }
}
