.page-header {
  background-color: rgb(233, 244, 248);
  position: sticky;
  top: 0;
  font-weight: 550;
  font-size: 1.6em;
  padding-inline: 2.5em;
  display: flex;
  gap: 2.7em;
  align-items: center;
  white-space: nowrap;

  .material-symbols-outlined {
    font-variation-settings: 'wght' 300, 'FILL' 0;
  }

  .btn {
  }

  & > .logo-container {
    display: flex;
    align-items: center;
    gap: 0.12em;

    & > .logo-img {
      height: 50px;
      aspect-ratio: 1;
    }

    & > .logo-legend {
      font-family: 'Yellowtail', serif;
      font-size: 3rem;
      color: var(--color-logo-text);
    }
  }

  & > .navigation {
    & > ul {
      display: flex;

      & > li {
        & > a {
          padding: 0.25em 0.7em;
          border-radius: 0.4em;
          color: var(--color-nav-link-text);

          &:hover {
            background-color: rgb(237, 237, 237);
          }

          &.active {
            text-decoration: underline 4px;
            text-underline-position: below;
            text-underline-offset: 19px;
          }
        }
      }
    }
  }

  & > .right-content-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5em;

    & > .theme-switcher {
      & > .theme {
        font-weight: normal;
        padding: 0.25em 0.7em;
        outline: 1px solid;
        outline-offset: -1px;
        border-radius: 0.4em;
        display: flex;
        align-content: center;
        gap: 0.26em;
      }
    }

    & > .user-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5em;

      & > button {
        font-weight: normal;
        background-color: unset;
        padding: 0.25em 0.7em;
        outline: 1px solid;
        outline-offset: -1px;
        border-radius: 0.4em;
      }
    }

    & > .login-wrapper {
      display: flex;
      gap: 0.5em;

      a {
        color: var(--color-logo-text);
        outline: 2px solid var(--color-background-primary);
        outline-offset: -2px;
        display: block;
        padding: 0.4em 0.9em;
        border-radius: 1.6em;
      }
    }
  }
}
