.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page > .page-main {
  padding: 1.6em;
  margin: 0 auto;
  width: min(800px, 60vw);
  flex-grow: 1;
  background-color: rgb(223, 223, 223);
  position: relative;
}

.page > .page-footer {
  position: fixed;
  bottom: 0;
}
