.login-page {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  position: relative;

  .login-wrapper {
    margin-top: 3em;
    border: 1px solid;
    border-radius: 1em;
    padding: 1em;

    .form {
      display: flex;
      flex-direction: column;
      .header {
        font-size: 1.2em;
        margin-bottom: 1em;
        align-self: center;
      }
    }

    .fields {
      .field {
        /* input:user-invalid {
          background-color: lightcoral;
        } */

        .err {
          color: crimson;
          min-height: 1lh;
        }
      }
    }
  }
}
