.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > .page-content-wrapper {
    width: min(100%, 1500px);
    align-self: center;
    flex-grow: 1;

    display: flex;

    & > .page-main {
      width: 60%;
    }

    & > .page-aside {
      width: 20%;
    }

    & > .page-footer {
      width: 20%;
    }
  }
}
