.popup-message {
  position: fixed;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: min(90%, 800px);
  display: flex;
  gap: 1em;
  font-size: 1.3rem;
  border-radius: 0.4em;
  padding: 0.7em 1em;
  background-color: rgb(184, 212, 240);

  &.error {
    background-color: rgb(255, 126, 141);
  }

  &.success {
    background-color: rgb(127, 242, 104);
  }

  & > .popup-content {
    word-wrap: break-word;
  }

  & > .popup-close {
    margin-left: auto;
    align-self: start;
    cursor: pointer;
    width: 1lh;
    background-color: rgb(217, 217, 217);
    text-align: center;
    font-weight: bold;
    border-radius: 0.3em;
    outline: 1px solid rgb(163, 163, 163);

    &:hover {
      background-color: rgb(227, 227, 227);
    }
  }
}
