.sort-search-container {
  display: flex;
  align-items: center;
  padding-block: 1em;
  font-size: 1.5em;

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 48;
  }

  & > .sort-wrapper {
    display: flex;
    gap: 0.75em;

    & > .sort-title {
      font-weight: 600;
    }

    & > .sort-fields {
      display: flex;
      gap: 0.5em;

      & > .sort-field {
        color: rgb(142, 142, 142);
        cursor: pointer;
        display: flex;
        align-items: center;

        & > .order {
          display: none;
        }

        & > .placeholder {
          display: block;
        }

        & > [data-order='desc'] {
          rotate: 0.5turn;
        }
      }

      & > .sort-field.active {
        color: black;

        & > .placeholder {
          display: none;
        }
      }

      & > .sort-field[data-order='asc'] {
        & > .order[data-order='asc'] {
          display: block;
        }
      }

      .sort-field[data-order='desc'] {
        & > .order[data-order='desc'] {
          display: block;
        }
      }
    }
  }

  & > .search-wrapper {
    margin-left: auto;
    display: flex;
    gap: 0.2em;

    & > label {
      display: flex;
      align-items: center;
    }

    & > input {
      width: 10em;
      padding: 0.1em 0.4em;
      border: 1px solid;
    }
  }
}
