.sort-search-container {
  display: flex;
  align-items: center;
  padding-block: 1em;
  font-size: 1.5em;

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 48;
  }

  & > .sort-wrapper {
    display: flex;
    gap: 0.75em;

    & > .sort-title {
      font-weight: 600;
    }

    & > .sort-fields {
      display: flex;
      gap: 0.5em;

      & > .sort-field {
        opacity: 0.56;
        cursor: pointer;
        display: flex;
        align-items: center;

        &.active {
          opacity: 1;
        }

        & > [data-order='desc'] {
          rotate: 0.5turn;
        }
      }
    }
  }

  & > .search-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.2em;
    position: relative;

    & > label {
      display: flex;
      align-items: center;
      cursor: text;
    }

    & > input[type='text'] {
      width: 10em;
      padding: 0.1em 0.4em;
      border: 1px solid;
    }

    & > button[type='reset'] {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0.2em;
      cursor: pointer;

      & > .material-symbols-outlined {
        font-size: 1em;
        font-variation-settings: 'wght' 600;
      }
    }
  }
}
