.spinner-2 {
  display: flex;
  gap: 0.5em;

  & > .spinner-dot {
    width: 0.32em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #7382d9;
    animation: grow 0.6s ease infinite;
  }
}

@keyframes grow {
  to {
    scale: 180%;
  }
}
