.spinner-1 {
  width: 1.45em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.2em solid rgba(211, 211, 211, 0.802);
  border-top-color: #7382d9;
  animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
